html, body {
  background-color: #F3F3F3;
  padding: 0;
  margin: 0;
}

#title-text {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
  font-family: -apple-system;
  text-align: center;
  color: black;
  white-space: nowrap;
}

#video-canvas{
  display: none;
}

#qr-table {
  margin-top: 100px;
}


td, tr {
  padding: 0px;
  margin: 0px;
}

.main-td {
  width: 33%;
 }

#content-table {
  width: 100%;
}

#user-data-table {
  background-color: orange
}

#paper-wrapper {
  width: 375px;
  height: 667px;
  display: block;
  background-color: lightgrey;
  border: 3px solid darkgrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  color: white
}

#publisher {
  width: 320px;
  height: 240px;
  display: block;
  background-color: lightgrey;
  border: 3px solid darkgrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

#camera-button {
  margin: 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: -apple-system;
  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
}



h6 {
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system;
}

#user-messages {
  padding: 0px;
  width: 280px;
  height: 170px;
  background-color: lightgrey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  border: 3px solid darkgrey;
  overflow:auto;
}

#user-messages-internal {
  padding: 5px;
  padding-left: 15px;
}

#map {
  padding: 0px;

  width: 280px;
  height: 200px;

  display: block;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;

  border: 3px solid darkgrey;
}
