<template name="cc">
  <div id="title-text">McGonagall Command Center</div>

  <table id="content-table">
    <tbody>
      <tr>
        <td class="main-td">
          <div id="publisher"></div>
          <canvas id="video-canvas" width="640" height="480"></canvas>
          <button id="camera-button">Enable TopCodes</button>
        </td>
        <td class="main-td">
          <div id="paper-wrapper">
            <div id="viewport">
              <div id="paper">
                <table id="qr-table">
                  <tr>
                    <td style="text-align: center;">
                      <img id="qrcode-image" src=""/>
                    </td>
                    </tr>
                    </table>
              </div>
            </div>
          </div>
        </td>
        <td class="main-td">
          <h6>User Messages</h6>
          <div id="user-messages">
            <div id="user-messages-internal">
            </div>
            </div>
          <div id="map"></div>
        </td>

      </tr>
    </tbody>
  </table>

</template>
