<template name="cc">
  <div id="nav">
  <div id="title-text">McGonagall Command Center</div>

  </div>

  <table id="content-table">
    <tbody>
      <tr>
        <td class="main-td">
          <div id="publisher"></div>
          <canvas id="video-canvas" width="0" height="0"></canvas>
          <button id="camera-button">Enable TopCodes</button>
        </td>
        <td class="main-td">
          <div id="paper-wrapper">
            <div id="viewport">
              <div id="paper">
                <div id="center-text">
                  <div id="stream-title-text">STREAM KEY:</div>
                  <div id="stream-key-text">{{ sessionKey }}</div>
              </div>

              </div>
            </div>
          </div>
        </td>
        <td class="main-td">
          <h6>User Messages</h6>
          <div id="user-messages">
            <div id="user-messages-internal">
            </div>
            </div>
            <h6>User Location</h6>
          <div id="map"></div>
        </td>

      </tr>
    </tbody>
  </table>

</template>
